@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  appearance: none;
  font-smoothing: antialiased;
}

body {
  font-size: 16px;
  line-height: 1.4em;
  min-width: 230px;
  max-width: 280px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
  background-color: #101820;
  color: #fff;
}

button,
input[type="checkbox"] {
  outline: none;
}
